.AnswerButton {
    background: transparent;
    color:rgb(61, 78, 123);
    border: 1px solid rgb(61, 78, 123);
    margin-right: 1.5rem;
    border-radius: 1rem;
    min-width: 4rem;
    padding: 0 1rem
}

.AnswerButton-selected {
    background-color: rgb(179, 198, 230);
    color:rgb(61, 78, 123);
    border: 1px solid rgb(61, 78, 123);
    margin-right: 1.5rem;
    border-radius: 1rem;
    min-width: 4rem;
    padding: 0 1rem
}