.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 224, 224);
    border: 10px solid white;
    border-radius: 2rem;
    min-height: 700px;
    width: 50%;
    padding-top: 3rem;
}