body {
    background-color: rgb(233, 239, 245);
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

.App {
    color:rgb(61, 78, 123);
}

.App-description {
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

@media (max-width: 1000px) {
    html {
        font-size: 56.25%;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 56.25%;
    }
}